PORT = 3000
MONGO_URI = mongodb+srv://dhairya_mehta:dhairya1@cluster0.2juxj.mongodb.net/storyooks?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 559796052786-jtm9o8idr4q7vc8jf1c9gmri9am4j4fl.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = Yb7pjcMcnXf7HG4W8ZQBpj4j
